body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.orgevents {
  display: inherit;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

div.orgevents h1{
  display: inline;
  width: 100%;
}

div.event {
  align-items: center;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: gray -2px 5px;
  margin-top: 10px;
}
div.eventName {
  margin-left: 50px;
  float: left;

}
div.eventLinks {
  margin-left: auto;
  margin-right: 50px;
  float:right;
}
div.event a {
  float: right;
}

.overlay-background {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
  opacity: 75%;
}

.overlay-cont {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: fit-content;
  height: fit-content;
}

.overlay-ctrl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-ctrl-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay-ctrl-cont {
  display: flex;
}

.overlay-close {
  border: none;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}

.overlay-close:after {
  display: inline-block;
  content: "\00d7";
}

.event-cont {
  display: flow-root;
}
.event-label-row {
  display: flex;
  margin-bottom: 5px;
}
.event-label-name {
  width: 200px;
  float: left;
}

.event-label-input {
  width: 200px;
  float: left;
}

.event-cont-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 10px 0px;

}

.event-cont-button button {
  padding: 5px 10px;
  border-width: thin;
  border-radius: 15px;

}